.cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cards img{
    width: 150px;
    height: 250px;
    transition: .4s;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card p{
    margin: 0;
    width: 150px;
}